@import "menu.css";

.topbar{
    background-color: #8ee4af;
    font-size: 10px;
    position: absolute;
    top:0px;
    right:0px;
    height:35px;
    width: 50%;
    left: 25%;
    margin: 0;
    border: 0 ;
    padding: 0;
    text-align: center;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
} 

.logo{
        margin-left: 15%;
        margin-right: 25%;
    }

h2.subject {
    position: absolute;
    top:40px;
    left:20%;
    width: 60%;
    border: 1px;
    padding: 1px;
    margin: 0;
    background-color: #227060;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border-bottom-left-radius: 65px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 65px;
    border-top-right-radius: 65px;
    
}

h2.topic {         
    position: absolute;
    top:70px;
    left:25%;
    width: 50%;
    border: 1px;
    padding: 1px;
    margin: 0;
    background-color: #227060;
    color: #ffffff; 
    font-size: 14px; 
    text-align: center;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    }

.imagebox {
    width: 100%;
    text-align: center;
    background-color: #227060;
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;    
}

img.fit {
  width: 18%;
  height: auto;                                                                                     
  margin-right : auto;
  margin-left : auto;
  min-width : 75%;
  max-width : 100%;
}
.pagebottom{
    width: 100%;
    padding: 2px 2px;
    background-color: #8ee4af;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.bottomlink{
    /*background-color: #195e50;*/
    color: #000000;
    padding: 3px;
}

.homemedialinks{
    position: absolute;
    bottom: 1px;
    text-align: center;
}
medialinks{
    position: absolute;
    bottom: 1px;
    text-align: center;
}

/*****************************************************************************/
/* Adjust for Larger screen sizes*/
@media (min-width: 600px) {
    
    .intro{
        margin-left: 25%;
        margin-right: 25%
    }
    
    
    .logo{
        margin-left: 25%;
        margin-right: 25%;
    }

    .topbar{ 
        width: 50%;
        left: 25%;
        background-color: #8ee4af;
    }
    h2.subject {
        width: 50%;
        background-color: #227060;
        left: 25%;
    }
    h2.topic {width: 50%;
        background-color: #227060; 
        left:25%;
    }
    .imagebox { 
        width: 100%;
    } 
    img.fit {
        /* float:left; */
        min-width : 30%;
        max-width : 50%;
    } 
    
    .pagebottom{
        bottom:0;
        background-color: #8ee4af;
        color: #000000;
    }
      
    .bottomlink{
    /*background-color: #195e50;*/
    color: #000000;
    padding: 3px;
}
    
}

